{% extends "/templates/base.html" %}
{% block head %}
<style>
</style>
{% endblock %}

{% block jumbo %}
<div class="row bigblue" style="margin-bottom:30px;" >
	<h1 class="text-center">{{team.name}}</h1>
</div>
{% endblock %}
{% block content %}
{% if team_stats!=false %}
<div class="col-md-12 found_panel text-center">
	<h3>Ranked Queues</h3>
	{% for stats in team_stats %}
	<div class="col-md-6 text-center">
		<h3>{{stats.queue}}</h3>
		{% if team.members[0].division != "empty" %}
		<h4>{{stats.division}}</h4>
		<img style="padding-left:auto;" src="{{rank_to_url(stats.division)}}"></img>
		{% else %}
		<h4>Fetching Division</h4>
		{% endif %}
		<h4>{{stats.league_points}} lp</h4>
		<h4>Wins: {{stats.wins}}</h4>
	</div>
	{% endfor %}
	
</div>
{% endif %}
	<div class="col-md-12 found_panel text-center">
		<h3>Team Members</h3>
		<div class="col-md-3 text-center">
			<h1></h1>
			
			<div class="list-group ">
			{% for player_key in team.members %}
				{% if loop.index0 ==0 %}
				<a  href="javascript:void(0)" class="list-group-item active">{{key_object(player_key).name}}</a>
				{% else %}
				<a  href="javascript:void(0)" class="list-group-item">{{key_object(player_key).name}}</a>
				{% endif %}
				
			{% endfor %}
			</div>
			{% if admin == 1 %}
			<!--a href="/team/admin/{{to_id(team)}}" type="button" class="btn btn-default">
				Admin Page
			</a-->
		{% endif %}
		</div>
		
		<div class="col-md-9" id="player_results" style="color:black;">
			<div class=" text-center">
  				<div class="panel-body">
  					<img  width="50px;" src="http://avatar.leagueoflegends.com/NA1/{{key_object(team.members[0]).name}}.png"></img>
					<h2>{{key_object(team.members[0]).name}}</h2>
				
					{% if team.members[0].division != "empty" %}
					<h4>{{key_object(team.members[0]).division}}</h4>
					<img style="padding-left:auto;" src="{{rank_to_url(key_object(team.members[0]).division)}}"></img>
					{% else %}
					<h4>Fetching Division</h4>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12 found_panel text-center">
		<h3>Tournaments</h3>
</div>
</div>

<script>
$( document ).ready(function() {
	$("a.list-group-item").click(function(){
		$("a.list-group-item").removeClass("active")
		panel=$(".panel-body")
		panel.empty();
		id= $(this).index()
		$(this).addClass("active");
		members={{keys_objects(team.members)}}
		div_urls={{div_urls}}
		memeber=members[id]
		panel.append("<img width='50px;' src='http://avatar.leagueoflegends.com/NA1/"+memeber.name+".png'></img>")
		panel.append("<h2>"+memeber.name+"</h2>")
		if(memeber.division!="empty")
		{
			
			panel.append("<h4>"+memeber.division+"</h4>")
			panel.append("<img style='padding-left:auto;' src="+div_urls[id]+"></img>")
		}
		else
		{
			panel.append("<h4>Fetching Division</h4>")
		}
	});
});
</script>
{% endblock %}