{% extends "/templates/tournament/admin_base.html" %}

{% block bracket_tab %}
<div class="tab-pane" id="bracket">
    <div class="row" id="slots">
        <div class="col-md-2" value="0">
            <div class="team_pool">
            {% for team in tournament.teams %}
            <div class="slot" draggable value={{get_ukey(team)}}>{{team.name}}</div>
            {% endfor %}
            {#% for team in range(32) %}
            <div class="slot" value="{{team+1}}" draggable>Team {{team+1}}</div>
            {% endfor %#}
            </div>
        </div>
        <div class="col-md-4">
            <div class="tournament32-wrap">
                <div class="round6-top winner6">Winner</div>
                <div class="round5-topwrap">
                    <div class="round5-top">Top Winner</div>
                    <div class="round4-topwrap">
                        <div class="round4-top">1/8 winner</div>
                        <div class="round3-topwrap">
                            <div class="round3-top">1/16 winner</div>
                            <div class="round2-topwrap">
                                <div class="round2-top">1-32 winner</div>
                                <div class="round1-top" value="0-0"><div class="slot" draggable>#1 seed</div></div>
                                <div class="round1-bottom" value="0-1"><div class="slot" draggable>#32 seed</div></div>
                            </div>
                            <div class="round2-bottomwrap">
                                <div class="round2-bottom">16-17 winner</div>
                                <div class="round1-top" value="1-0"><div class="slot" draggable>#16 seed</div></div>
                                <div class="round1-bottom" value="1-1"><div class="slot" draggable>#17 seed</div></div>
                            </div>
                        </div>
                        <div class="round3-bottomwrap">
                            <div class="round3-bottom">8/9 winner</div>
                            <div class="round2-topwrap">
                                <div class="round2-top">8-25 winner</div>
                                <div class="round1-top" value="2-0"><div class="slot" draggable>#8 seed</div></div>
                                <div class="round1-bottom" value="2-1"><div class="slot" draggable>#25 seed</div></div>
                            </div>
                            <div class="round2-bottomwrap">
                                <div class="round2-bottom">9-24 winner</div>
                                <div class="round1-top" value="3-0"><div class="slot" draggable>#9 seed</div></div>
                                <div class="round1-bottom" value="3-1"><div class="slot" draggable>#24 seed</div></div>
                            </div>
                        </div>
                    </div>
                    <div class="round4-bottomwrap">
                        <div class="round4-bottom">4/5 winner</div>
                        <div class="round3-topwrap">
                            <div class="round3-top">4/13 winner</div>
                            <div class="round2-topwrap">
                                <div class="round2-top">4-29 winner</div>
                                <div class="round1-top" value="4-0"><div class="slot" draggable>#4 seed</div></div>
                                <div class="round1-bottom" value="4-1"><div class="slot" draggable>#29 seed</div></div>
                            </div>
                            <div class="round2-bottomwrap">
                                <div class="round2-bottom">13-20 winner</div>
                                <div class="round1-top" value="5-0"><div class="slot" draggable>#13 seed</div></div>
                                <div class="round1-bottom" value="5-1"><div class="slot" draggable>#20 seed</div></div>
                            </div>
                        </div>
                        <div class="round3-bottomwrap">
                            <div class="round3-bottom">5/12 winner</div>
                            <div class="round2-topwrap">
                                <div class="round2-top">5-28 winner</div>
                                <div class="round1-top" value="6-0"><div class="slot" draggable>#5 seed</div></div>
                                <div class="round1-bottom" value="6-1"><div class="slot" draggable>#28 seed</div></div>
                            </div>
                            <div class="round2-bottomwrap">
                                <div class="round2-bottom">12-21 winner</div>
                                <div class="round1-top" value="7-0"><div class="slot" draggable>#12 seed</div></div>
                                <div class="round1-bottom" value="7-1"><div class="slot" draggable>#21 seed</div></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="round5-bottomwrap">
                    <div class="round5-bottom">Bottom Winner</div>
                    <div class="round4-topwrap">
                        <div class="round4-top">2/7 winner</div>
                        <div class="round3-topwrap">
                            <div class="round3-top">2/15 winner</div>
                            <div class="round2-topwrap">
                                <div class="round2-top">2-31 winner</div>
                                <div class="round1-top" value="8-0"><div class="slot" draggable>#2 seed</div></div>
                                <div class="round1-bottom" value="8-1"><div class="slot" draggable>#31 seed</div></div>
                            </div>
                            <div class="round2-bottomwrap">
                                <div class="round2-bottom">15-18 winner</div>
                                <div class="round1-top" value="9-0"><div class="slot" draggable>#15 seed</div></div>
                                <div class="round1-bottom" value="9-1"><div class="slot" draggable>#18 seed</div></div>
                            </div>
                        </div>
                        <div class="round3-bottomwrap">
                            <div class="round3-bottom">7/10 winner</div>
                            <div class="round2-topwrap">
                                <div class="round2-top">7-26 winner</div>
                                <div class="round1-top" value="10-0"><div class="slot" draggable>#7 seed</div></div>
                                <div class="round1-bottom" value="10-1"><div class="slot" draggable>#26 seed</div></div>
                            </div>
                            <div class="round2-bottomwrap">
                                <div class="round2-bottom">10-23 winner</div>
                                <div class="round1-top" value="11-0"><div class="slot" draggable>#10 seed</div></div>
                                <div class="round1-bottom" value="11-1"><div class="slot" draggable>#23 seed</div></div>
                            </div>
                        </div>
                    </div>
                    <div class="round4-bottomwrap">
                        <div class="round4-bottom">3/6 winer</div>
                        <div class="round3-topwrap">
                            <div class="round3-top">3/14 winner</div>
                            <div class="round2-topwrap">
                                <div class="round2-top">3-30 winner</div>
                                <div class="round1-top" value="12-0"><div class="slot" draggable>#3 seed</div></div>
                                <div class="round1-bottom" value="12-1"><div class="slot" draggable>#30 seed</div></div>
                            </div>
                            <div class="round2-bottomwrap">
                                <div class="round2-bottom">14-19 winner</div>
                                <div class="round1-top" value="13-0"><div class="slot" draggable>#14 seed</div></div>
                                <div class="round1-bottom" value="13-1"><div class="slot" draggable>#19 seed</div></div>
                            </div>
                        </div>
                        <div class="round3-bottomwrap">
                            <div class="round3-bottom">6/11 winner</div>
                            <div class="round2-topwrap">
                                <div class="round2-top">6-27 winner</div>
                                <div class="round1-top" value="14-0"><div class="slot" draggable>#6 seed</div></div>
                                <div class="round1-bottom" value="14-1"><div class="slot" draggable>#27 seed</div></div>
                            </div>
                            <div class="round2-bottomwrap">
                                <div class="round2-bottom">11-22 winner</div>
                                <div class="round1-top" value="15-0"><div class="slot" draggable>#11 seed</div></div>
                                <div class="round1-bottom" value="15-1"><div class="slot" draggable>#22 seed</div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>{#end bracket#}
            <div id="save">
                <button class="save" onclick="save()">Save</button><br>
            </div>
        </div>
    </div>
</div>
{% endblock %}
