{% extends "/templates/base.html" %}


{% block head %}

<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" media="screen"
    href="/static/css/datetimepicker.css">
{% endblock %}


{% block content %}


<div id="content">
<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
    {% if tournament.finalized != True %}
        <li class="active"><a href="#join" data-toggle="tab">Join Requests</a></li>
        <li><a href="#bracket" data-toggle="tab">Bracket</a></li>
    {% else %}
        <li class="active"><a href="#bracket" data-toggle="tab">Bracket</a></li>
    {% endif %}
    <li><a href="#teams" data-toggle="tab">Teams</a></li>
    {#% if tournament.finalized %#}
        <li><a href="#schedule" data-toggle="tab">Schedule</a></li>
        <li><a href="#results" data-toggle="tab">Game Results</a></li>
    {#% endif %#}
    <li><a href="#settings" data-toggle="tab">Settings</a></li>
</ul>


<div class="tab-content" style="border:1px solid">
    {% if tournament.finalized != True %}
    <div class="tab-pane active" id="join">
        <form method="POST">
        {% for team in tournament.join_requests %}
            <input type="checkbox" name="{{ get_ukey(team) }}">
            <a href="/teams/{{ get_ukey(team) }}">{{ team.name }}</a>
            <br>
        {% endfor %}
        <input type="submit" value="Add Teams">
        </form>
    </div>
    {% endif %}
    {% block bracket_tab %}{% endblock %}
    <div class="tab-pane" id="teams">
        <div class="row" id="team_list">
            <div class="col-md-2" style="border-right:2px solid">
                <ul style="height:450px;overflow:auto;" id="tabs" class="nav nav-tabs nav-stacked">
                    <li class="active" style="overflow:hidden"><a href="#all" data-toggle="tab">All</a></li>
                    {#% for team in range(1, 25) %}
                        <li style="overflow:hidden"><a href="#{{team}}" data-toggle="tab">Team {{team}}</a></li>
                    {% endfor %#}
                    {% for team in tournament.teams %}
                        <li><a href="#{{ get_ukey(team) }}" data-toggle="tab">{{ team.name }}</a></li>
                    {% endfor %}
            </div>
            <div class="col-md-9 tab-content">
                <div class="tab-pane active" id="all">
                    <button value="all">All teams</button>
                </div>
                {#% for team in range(1, size|int + 1) %#}
                {% for team in tournament.teams %}
                    <div class="tab-pane" id="{{ team }}" style="text-align:center">
                        <h1>Team {{ team }}</h1>
                        <button class="contact_admin">
                            Contact Admin
                        </button>
                        <button class="kick" onclick="kick({{team.key()}}">
                            Kick Team
                        </button>
                        <div class="row">
                            <div class="col-md-2">
                                <h5>Players</h5>
                                {% for member in team.members %}
                                    <a href="/player/{{ get_ukey(member)}}1">Player</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% for team in tournament.teams %}
                    <div class="tab-pane" id="{{ get_ukey(team) }}">
                        <h1>{{ team.name }}</h1>
                        <button class="contact_admin">
                            Contact Admin
                        </button>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {#% if tournament.finalized %#}
    <div class="tab-pane row" id="schedule">
        <div class="col-md-2">
            <ul id="tabs" class="nav nav-tabs nav-stacked">
                <li><a href="#calendar" data-toggle="tab">Calendar</a></li>
                {% for game in tournament.rounds[tournament.current_round - 1].games %}
                    {% if key_object(game).happened != True %}
                        <li><a href="#{{ to_ukey(game) }}" data-toggle="tab">Round {{ tournament.current_round  }} Game {{ loop.index }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-10 tab-content">
            <div class="tab-pane active" id="calendar">
                <iframe src="https://www.google.com/calendar/embed?src={{tournament.calendar}}" style="height:400;width:100%;"></iframe>
            </div>
            {% for game in tournament.rounds[tournament.current_round - 1].games %}
                {% if key_object(game).happened != True %}
                    <div class="tab-pane" id="{{ to_ukey(game) }}">
                        <div class="col-md-3">
                            Set Date and Time:<br>
                            <div class="input-append date datepicker no-padding" data-date-format="dd-mm-yyyy">
                                <input class="input-medium" size="16" type="text"><span class="add-on"><i class="icon-th"></i></span>
                            </div>
                            <div id="datetimepicker" class="input-append date {{loop.index}}">
                                <input type="text"></input>
                                <span class="add-on">
                                    <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                                </span>
                            </div>
                            <input class="{{to_ukey(game)}}" type="checkbox" name="notifications">Send Email Notifications<br>
                            <button class="{{to_ukey(game)}}">Schedule Game</button>
                        </div>
                        <div class="col-md-4">
                            {{ key_object(key_object(game).teams[0]).name }}<br>
                            {{ key_object(key_object(game).teams[1]).name }}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="tab-pane" id="results">
        <div class="col-md-2">
            <ul id="tabs" class="nav nav-tabs nav-stacked">
                {% for game in tournament.games %}
                    {% if game.happened %}
                        <li><a href="#{{ get_ukey(game) }}">Round {{ game.round }} Game {{ game.spot }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-2 tab-content">
            {% for game in tournament.games %}
                {% if game.happened %}
                    <div class="tab-pane" id="{{ get_ukey(game) }}">
                        <p>Who won?</p>
                        {% for team in game.teams %}
                            <button>{{ team.name }}</button>
                        {% endfor %}
                        <p>Didn't Happen?</p>
                        <button>Reschedule</button>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {#% endif %#}
    <div class="tab-pane" id="settings">
    </div>

</div>
<script src="/static/js/drag_drop.js"></script>
<script src="/static/js/bootstrap-datepicker.js"></script>


<script type="text/javascript">
    $(function() {
        console.log($('#schedule').find('datepicker'));
        $('#schedule').find('datepicker').each(function(index, object) {
            console.log(index);
        });
    });
</script>



{% endblock %}
