{% extends "/templates/tournament/admin_base.html" %}



{% block bracket_tab %}
<div class="tab-pane" id="bracket">
    <div class="row" id="slots">
        <div class="col-md-2" value="0">
            <div class="team_pool">
            {% for team in tournament.teams %}
            <div class="slot" draggable value={{get_ukey(team)}}>{{team.name}}</div>
            {% endfor %}
            {% for team in range(8 - len(tournament.teams)) %}
                <div class="slot" value="-1" draggable>Placeholder</div>
            {% endfor %}
            </div>
        </div>
        <div class="col-md-4">
            <div class="tournament8-wrap">
                <div class="round4-top winner4">{{key_object(tournament.winner).name}}</div>
                <div class="round3-topwrap">
                    <div class="round3-top">{{key_object(key_object(tournament.rounds[2].games[0]).teams[0]).name}}</div>
                    <div class="round2-topwrap">
                        <div class="round2-top">{{key_object(key_object(tournament.rounds[1].games[0]).teams[0]).name}}</div>
                        <div class="round1-top" value="0-0"><div class="slot" draggable>{{key_object(key_object(tournament.rounds[0].games[0]).teams[0]).name}}</div></div>
                        <div class="round1-bottom" value="0-1"><div class="slot" draggable>{{key_object(key_object(tournament.rounds[0].games[0]).teams[1]).name}}</div></div>
                    </div>
                    <div class="round2-bottomwrap">
                        <div class="round2-bottom">{{key_object(key_object(tournament.rounds[1].games[0]).teams[1]).name}}</div>
                        <div class="round1-top" value="1-0"><div class="slot" draggable>{{key_object(key_object(tournament.rounds[0].games[1]).teams[0]).name}}</div></div>
                        <div class="round1-bottom" value="1-1"><div class="slot" draggable>{{key_object(key_object(tournament.rounds[0].games[1]).teams[1]).name}}</div></div>
                    </div>
                </div>
                <div class="round3-bottomwrap">
                    <div class="round3-bottom">{{key_object(key_object(tournament.rounds[1].games[0]).teams[1]).name}}</div>
                    <div class="round2-topwrap">
                        <div class="round2-top">{{key_object(key_object(tournament.rounds[1].games[1]).teams[0]).name}}</div>
                        <div class="round1-top" value="2-0"><div class="slot" draggable>{{key_object(key_object(tournament.rounds[0].games[2]).teams[0]).name}}</div></div>
                        <div class="round1-bottom" value="2-1"><div class="slot" draggable>{{key_object(key_object(tournament.rounds[0].games[2]).teams[1]).name}}</div></div>
                    </div>
                    <div class="round2-bottomwrap">
                        <div class="round2-bottom">{{key_object(key_object(tournament.rounds[1].games[1]).teams[1]).name}}</div>
                        <div class="round1-top" value="3-0"><div class="slot" draggable>{{key_object(key_object(tournament.rounds[0].games[3]).teams[0]).name}}</div></div>
                        <div class="round1-bottom" value="3-1"><div class="slot" draggable>{{key_object(key_object(tournament.rounds[0].games[3]).teams[1]).name}}</div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
