{% extends "/templates/tournament/admin_base.html" %}

{% block bracket_tab %}
<div class="tab-pane" id="bracket">
    <div class="row" id="slots">
        <div class="col-md-2" value="0">
            <div class="team_pool">
            {% for team in tournament.teams %}
            <div class="slot" draggable value={{get_ukey(team)}}>{{team.name}}</div>
            {% endfor %}
            {#% for team in range(32) %}
            <div class="slot" value="{{team+1}}" draggable>Team {{team+1}}</div>
            {% endfor %#}
            </div>
        </div>
        <div class="col-md-4">
            <div class="tournament32-wrap">
                <div class="round6-top winner6">{{key_object(key_object(tournament.round6[0]).teams[0]).name}}</div>
                <div class="round5-topwrap">
                    <div class="round5-top">{{key_object(key_object(tournament.round5[0]).teams[0]).name}}</div>
                    <div class="round4-topwrap">
                        <div class="round4-top">{{key_object(key_object(tournament.round4[0]).teams[0]).name}}</div>
                        <div class="round3-topwrap">
                            <div class="round3-top">{{key_object(key_object(tournament.round3[0]).teams[0]).name}}</div>
                            <div class="round2-topwrap">
                                <div class="round2-top">{{key_object(key_object(tournament.round2[0]).teams[0]).name}}</div>
                                <div class="round1-top" value="0-0"><div class="slot" draggable>{{key_object(key_object(tournament.round1[0]).teams[0]).name}}</div></div>
                                <div class="round1-bottom" value="0-1"><div class="slot" draggable>{{key_object(key_object(tournament.round1[0]).teams[1]).name}}</div></div>
                            </div>
                            <div class="round2-bottomwrap">
                                <div class="round2-bottom">{{key_object(key_object(tournament.round2[0]).teams[1]).name}}</div>
                                <div class="round1-top" value="1-0"><div class="slot" draggable>{{key_object(key_object(tournament.round1[1]).teams[0]).name}}</div></div>
                                <div class="round1-bottom" value="1-1"><div class="slot" draggable>{{key_object(key_object(tournament.round1[1]).teams[1]).name}}</div></div>
                            </div>
                        </div>
                        <div class="round3-bottomwrap">
                            <div class="round3-bottom">{{key_object(key_object(tournament.round3[0]).teams[1]).name}}</div>
                            <div class="round2-topwrap">
                                <div class="round2-top">{{key_object(key_object(tournament.round2[1]).teams[0]).name}}</div>
                                <div class="round1-top" value="2-0"><div class="slot" draggable>{{key_object(key_object(tournament.round1[2]).teams[0]).name}}</div></div>
                                <div class="round1-bottom" value="2-1"><div class="slot" draggable>{{key_object(key_object(tournament.round1[2]).teams[1]).name}}</div></div>
                            </div>
                            <div class="round2-bottomwrap">
                                <div class="round2-bottom">{{key_object(key_object(tournament.round2[1]).teams[1]).name}}</div>
                                <div class="round1-top" value="3-0"><div class="slot" draggable>{{key_object(key_object(tournament.round1[3]).teams[0]).name}}</div></div>
                                <div class="round1-bottom" value="3-1"><div class="slot" draggable>{{key_object(key_object(tournament.round1[3]).teams[1]).name}}</div></div>
                            </div>
                        </div>
                    </div>
                    <div class="round4-bottomwrap">
                        <div class="round4-bottom">{{key_object(key_object(tournament.round4[0]).teams[1]).name}}</div>
                        <div class="round3-topwrap">
                            <div class="round3-top">{{key_object(key_object(tournament.round3[1]).teams[0]).name}}</div>
                            <div class="round2-topwrap">
                                <div class="round2-top">{{key_object(key_object(tournament.round2[2]).teams[0]).name}}</div>
                                <div class="round1-top" value="4-0"><div class="slot" draggable>{{key_object(key_object(tournament.round1[1]).teams[0]).name}}</div></div>
                                <div class="round1-bottom" value="4-1"><div class="slot" draggable>{{key_object(key_object(tournament.round1[4]).teams[1]).name}}</div></div>
                            </div>
                            <div class="round2-bottomwrap">
                                <div class="round2-bottom">{{key_object(key_object(tournament.round2[2]).teams[1]).name}}</div>
                                <div class="round1-top" value="5-0"><div class="slot" draggable>{{key_object(key_object(tournament.round1[5]).teams[0]).name}}</div></div>
                                <div class="round1-bottom" value="5-1"><div class="slot" draggable>{{key_object(key_object(tournament.round1[5]).teams[1]).name}}</div></div>
                            </div>
                        </div>
                        <div class="round3-bottomwrap">
                            <div class="round3-bottom">{{key_object(key_object(tournament.round3[1]).teams[1]).name}}</div>
                            <div class="round2-topwrap">
                                <div class="round2-top">{{key_object(key_object(tournament.round2[3]).teams[0]).name}}</div>
                                <div class="round1-top" value="6-0"><div class="slot" draggable>{{key_object(key_object(tournament.round1[6]).teams[0]).name}}</div></div>
                                <div class="round1-bottom" value="6-1"><div class="slot" draggable>{{key_object(key_object(tournament.round1[6]).teams[1]).name}}</div></div>
                            </div>
                            <div class="round2-bottomwrap">
                                <div class="round2-bottom">{{key_object(key_object(tournament.round2[3]).teams[1]).name}}</div>
                                <div class="round1-top" value="7-0"><div class="slot" draggable>{{key_object(key_object(tournament.round1[7]).teams[0]).name}}</div></div>
                                <div class="round1-bottom" value="7-1"><div class="slot" draggable>{{key_object(key_object(tournament.round1[7]).teams[1]).name}}</div></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="round5-bottomwrap">
                    <div class="round5-bottom">{{key_object(key_object(tournament.round5[0]).teams[1]).name}}</div>
                    <div class="round4-topwrap">
                        <div class="round4-top">{{key_object(key_object(tournament.round4[1]).teams[0]).name}}</div>
                        <div class="round3-topwrap">
                            <div class="round3-top">{{key_object(key_object(tournament.round3[2]).teams[0]).name}}</div>
                            <div class="round2-topwrap">
                                <div class="round2-top">{{key_object(key_object(tournament.round2[4]).teams[0]).name}}</div>
                                <div class="round1-top" value="8-0"><div class="slot" draggable>{{key_object(key_object(tournament.round1[8]).teams[0]).name}}</div></div>
                                <div class="round1-bottom" value="8-1"><div class="slot" draggable>{{key_object(key_object(tournament.round1[8]).teams[1]).name}}</div></div>
                            </div>
                            <div class="round2-bottomwrap">
                                <div class="round2-bottom">{{key_object(key_object(tournament.round2[4]).teams[1]).name}}</div>
                                <div class="round1-top" value="9-0"><div class="slot" draggable>{{key_object(key_object(tournament.round1[9]).teams[0]).name}}</div></div>
                                <div class="round1-bottom" value="9-1"><div class="slot" draggable>{{key_object(key_object(tournament.round1[9]).teams[1]).name}}</div></div>
                            </div>
                        </div>
                        <div class="round3-bottomwrap">
                            <div class="round3-bottom">{{key_object(key_object(tournament.round3[2]).teams[1]).name}}</div>
                            <div class="round2-topwrap">
                                <div class="round2-top">{{key_object(key_object(tournament.round2[5]).teams[0]).name}}</div>
                                <div class="round1-top" value="10-0"><div class="slot" draggable>{{key_object(key_object(tournament.round1[10]).teams[0]).name}}</div></div>
                                <div class="round1-bottom" value="10-1"><div class="slot" draggable>{{key_object(key_object(tournament.round1[10]).teams[1]).name}}</div></div>
                            </div>
                            <div class="round2-bottomwrap">
                                <div class="round2-bottom">{{key_object(key_object(tournament.round2[5]).teams[1]).name}}</div>
                                <div class="round1-top" value="11-0"><div class="slot" draggable>{{key_object(key_object(tournament.round1[11]).teams[0]).name}}</div></div>
                                <div class="round1-bottom" value="11-1"><div class="slot" draggable>{{key_object(key_object(tournament.round1[11]).teams[1]).name}}</div></div>
                            </div>
                        </div>
                    </div>
                    <div class="round4-bottomwrap">
                        <div class="round4-bottom">{{key_object(key_object(tournament.round4[1]).teams[1]).name}}</div>
                        <div class="round3-topwrap">
                            <div class="round3-top">{{key_object(key_object(tournament.round3[3]).teams[0]).name}}</div>
                            <div class="round2-topwrap">
                                <div class="round2-top">{{key_object(key_object(tournament.round2[6]).teams[0]).name}}</div>
                                <div class="round1-top" value="12-0"><div class="slot" draggable>{{key_object(key_object(tournament.round1[12]).teams[0]).name}}</div></div>
                                <div class="round1-bottom" value="12-1"><div class="slot" draggable>{{key_object(key_object(tournament.round1[12]).teams[1]).name}}</div></div>
                            </div>
                            <div class="round2-bottomwrap">
                                <div class="round2-bottom">{{key_object(key_object(tournament.round2[6]).teams[1]).name}}</div>
                                <div class="round1-top" value="13-0"><div class="slot" draggable>{{key_object(key_object(tournament.round1[13]).teams[0]).name}}</div></div>
                                <div class="round1-bottom" value="13-1"><div class="slot" draggable>{{key_object(key_object(tournament.round1[13]).teams[1]).name}}</div></div>
                            </div>
                        </div>
                        <div class="round3-bottomwrap">
                            <div class="round3-bottom">{{key_object(key_object(tournament.round3[3]).teams[1]).name}}</div>
                            <div class="round2-topwrap">
                                <div class="round2-top">{{key_object(key_object(tournament.round2[7]).teams[0]).name}}</div>
                                <div class="round1-top" value="14-0"><div class="slot" draggable>{{key_object(key_object(tournament.round1[14]).teams[0]).name}}</div></div>
                                <div class="round1-bottom" value="14-1"><div class="slot" draggable>{{key_object(key_object(tournament.round1[14]).teams[1]).name}}</div></div>
                            </div>
                            <div class="round2-bottomwrap">
                                <div class="round2-bottom">{{key_object(key_object(tournament.round2[7]).teams[1]).name}}</div>
                                <div class="round1-top" value="15-0"><div class="slot" draggable>{{key_object(key_object(tournament.round1[15]).teams[0]).name}}</div></div>
                                <div class="round1-bottom" value="15-1"><div class="slot" draggable>{{key_object(key_object(tournament.round1[15]).teams[1]).name}}</div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>{#end bracket#}
            <div id="save">
                <button class="save" onclick="save()">Save</button><br>
            </div>
        </div>
    </div>
</div>
{% endblock %}
