{% extends "/templates/tournament/admin_base.html" %}



{% block tab_contents %}
<div class="tab-pane active" id="bracket">
    <div style="text-align:center"><h1>Bracket</h1></div>
    <div class="row" id="slots">
        <div class="col-md-2" value="0">
            <div class="team_pool">
            {# for team in tournament.teams %}
            <div class="slot" draggable value={{get_ukey(team)}}>{{team.name}}</div>
            {% endfor #}
            {% for team in range(4) %}
            <div class="slot" value="{{team+1}}" draggable>Team {{team+1}}</div>
            {% endfor %}
            </div>
        </div>
        <div class="col-md-4">
            <div class="tournament4-wrap">
                <div class="round3-top winner3">Winner</div>
                <div class="round2-topwrap">
                    <div class="round2-top">1-4 winner</div>
                        <div class="round1-top" value="1"><div class="slot" draggable>#1 seed</div></div>
                        <div class="round1-bottom" value="2"><div class="slot" draggable>#4 seed</div></div>
                    </div>
                <div class="round2-bottomwrap">
                    <div class="round2-bottom">2-3 winner</div>
                    <div class="round1-top" value="3"><div class="slot" draggable>#2 seed</div></div>
                    <div class="round1-bottom" value="4"><div class="slot" draggable>#3 seed</div></div>
                </div>
                <div id="save">
                    <button class="save" onclick="save()">Save</button><br>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tab-pane" id="tab2">
<p>Tab 2</p>
</div>

{% endblock %}
