{% extends "/templates/tournament/admin_base.html" %}



{% block bracket_tab %}
<div class="tab-pane" id="bracket">
    <div style="text-align:center"><h1>Bracket</h1></div>
    <div class="row" id="slots">
        <div class="col-md-2" value="0">
            <div class="team_pool" value="0">
                {#% for team in tournament.teams %}
                    <div class="slot" draggable value={{get_ukey(team)}}><{{team.name}}</div>
                {% endfor %#}
                {% for num in range(16) %}
                    <div class="slot" draggable value="{{loop.index}}">Team {{loop.index}}</div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4">
            <div class="tournament16-wrap">
                <div class="round5-top winner5">Winner</div>
                <div class="round4-topwrap">
                    <div class="round4-top">Top Winner</div>
                    <div class="round3-topwrap">
                        <div class="round3-top">1/8 winner</div>
                        <div class="round2-topwrap">
                            <div class="round2-top">1-16 winner</div>
                        <div class="round1-top" value="0-0"><div class="slot" draggable>#1 seed</div></div>
                            <div class="round1-bottom" value="0-1"><div class="slot" draggable>#16 seed</div></div>

                        </div>
                        <div class="round2-bottomwrap">
                            <div class="round2-bottom">8-9 winner</div>
                            <div class="round1-top" value="1-0"><div class="slot" draggable>#8 seed</div></div>
                            <div class="round1-bottom" value="1-1"><div class="slot" draggable>#9 seed</div></div>
                        </div>
                    </div>
                    <div class="round3-bottomwrap">
                        <div class="round3-bottom">4/5 winner</div>
                        <div class="round2-topwrap">
                            <div class="round2-top">4-13 winner</div>
                            <div class="round1-top" value="2-0"><div class="slot" draggable>#4 seed</div></div>
                            <div class="round1-bottom" value="2-1"><div class="slot" draggable>#13 seed</div></div>
                        </div>
                        <div class="round2-bottomwrap">
                            <div class="round2-bottom">5-12 winner</div>
                            <div class="round1-top" value="3-0"><div class="slot" draggable>#5 seed</div></div>
                            <div class="round1-bottom" value="3-1"><div class="slot" draggable>#12 seed</div></div>
                        </div>
                    </div>
                </div>
                <div class="round4-bottomwrap">
                    <div class="round4-bottom">Bottom Winner</div>
                    <div class="round3-topwrap">
                        <div class="round3-top">2/7 winner</div>
                        <div class="round2-topwrap">
                            <div class="round2-top">2-15 winner</div>
                            <div class="round1-top" value="4-0"><div class="slot" draggable>#2 seed</div></div>
                            <div class="round1-bottom" value="4-1"><div class="slot" draggable>#15 seed</div></div>
                        </div>
                        <div class="round2-bottomwrap">
                            <div class="round2-bottom">7-10 winner</div>
                            <div class="round1-top" value="5-0"><div class="slot" draggable>#7 seed</div></div>
                            <div class="round1-bottom" value="5-1"><div class="slot" draggable>#10 seed</div></div>
                        </div>
                    </div>
                    <div class="round3-bottomwrap">
                        <div class="round3-bottom">3/6 winner</div>
                        <div class="round2-topwrap">
                            <div class="round2-top">3-14 winner</div>
                            <div class="round1-top" value="6-0"><div class="slot" draggable>#3 seed</div></div>
                            <div class="round1-bottom" value="6-1"><div class="slot" draggable>#14 seed</div></div>
                        </div>
                        <div class="round2-bottomwrap">
                            <div class="round2-bottom">6-11 winner</div>
                            <div class="round1-top" value="7-0"><div class="slot" draggable>#6 seed</div></div>
                            <div class="round1-bottom" value="7-1"><div class="slot" draggable>#11 seed</div></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="save">
                <button class="save" onclick="save()">Save</button><br>
            </div>
        </div>
    </div>
</div>
{% endblock %}

