{% extends "/templates/base.html" %}


{% block head %}


{% endblock %}
{% block jumbo %}
<div class="row bigblue" style="margin:0">

<div class="col-md-6 col-md-offset-3 text-center">
        <h1>{{tournament.name}}</h1>
</div>
</div>
{% endblock %}
{% block content %}
<div class="col-md-3">
    <div class="col-md-12 found_panel text-center">
        Admin={{tournament.admin}}
    </div>
    <div class="col-md-12 found_panel text-center">
        To join a tournament you must be the owner of a team.
    </div>
    <div class="col-md-12 found_panel text-center">
        <h2>Teams</h2>
        {% for team in tournament.teams %}
            {{key_object(team).name}}<br>
        {% endfor %}
    </div>
</div>
<div class="col-md-9">
<div id="content">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        <li class="active"><a href="#info" data-toggle="tab">Info</a></li>
        {% if tournament.finalized != True %}
        <li><a href="#join" data-toggle="tab">Join Tournament</a></li>
        {#% else %#}
            <li><a href="#bracket" data-toggle="tab">Bracket</a></li>
            <li><a href="#games" data-toggle="tab">Games</a></li>
            <li><a href="#schedule" data-toggle="tab">Schedule</a></li>
        {% endif %}
    </ul>
    <div class="tab-content" style="border:1px solid">
        <div class="tab-pane" id="info">
            <div class="row">
            </div>
        </div>
        {% if tournament.finalized != True %}
        <div class="tab-pane" id="join">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    {% if teams %}
                        <form method="POST">
                            {% for team in teams %}
                                <input type="checkbox" name="join" value="{{get_ukey(team)}}">{{team.name}}<br>
                            {% endfor %}
                            <input type="submit" value="Add teams">
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
        {#% else %#}
        <div class="tab-pane" id="bracket">
            {% block bracket_tab %}{% endblock %}
        </div>
        <div class="tab-pane" id="games">
        </div>
        <div class="tab-pane" id="schedule">
            <iframe src="https://www.google.com/calendar/embed?src={{tournament.calendar}}" style="height:600;min-width:100%;"></iframe>
        </div>
        {% endif %}
    </div>
</div>
</div>

{% endblock %}
