{% extends "/templates/base.html" %}

{% block head %}
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/static/css/index.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% endblock %}

{% block content %}

    <div class="header">
        <h3>Tournaments</h3>
    </div>
    <div class="wrap">
        <div class="boxes">
            <div class="box">
                <div class="boxInner">
                    <div class="titleBox">Title</div>
                </div>
            </div>
            <div class="box">
                <div class="boxInner">
                    <div class="titleBox">Title</div>
                </div>
            </div>
            <div class="box">
                <div class="boxInner">
                    <div class="titleBox">Title</div>
                </div>
            </div>
            <div class="box">
                <div class="boxInner">
                    <div class="titleBox">Title</div>
                </div>
            </div>
            <div class="box">
                <div class="boxInner">
                    <div class="titleBox">Title</div>
                </div>
            </div>
            <div class="box">
                <div class="boxInner">
                    <div class="titleBox">Title</div>
                </div>
            </div>
            <div class="box">
                <div class="boxInner">
                    <div class="titleBox">Title</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    $(function(){
      // See if this is a touch device
      if ('ontouchstart' in window)
      {
        console.log('touch device');
        // Set the correct body class
        $('body').removeClass('no-touch').addClass('touch');
        
        // Add the touch toggle to show text
        $('div.boxInner img').click(function(){
          $(this).closest('.boxInner').toggleClass('touchFocus');
        });
      }
    });
  </script>

{% endblock %}
