<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>16 Player Tournament</title>
	<link rel="stylesheet" type="text/css" href="bracket.css" />
</head>
<body>

	<div class="tournament16-wrap">
		<div class="round5-top winner5">Winner</div>
		<div class="round4-topwrap">
			<div class="round4-top">Top Winner</div>
			<div class="round3-topwrap">
				<div class="round3-top">1/8 winner</div>
				<div class="round2-topwrap">
					<div class="round2-top">1-16 winner</div>
					<div class="round1-top">#1 seed</div>
					<div class="round1-bottom">#16 seed</div>
				</div>
				<div class="round2-bottomwrap">
					<div class="round2-bottom">8-9 winner</div>
					<div class="round1-top">#8 seed</div>
					<div class="round1-bottom">#9 seed</div>
				</div>
			</div>
			<div class="round3-bottomwrap">
				<div class="round3-bottom">4/5 winner</div>
				<div class="round2-topwrap">
					<div class="round2-top">4-13 winner</div>
					<div class="round1-top">#4 seed</div>
					<div class="round1-bottom">#13 seed</div>
				</div>
				<div class="round2-bottomwrap">
					<div class="round2-bottom">5-12 winner</div>
					<div class="round1-top">#5 seed</div>
					<div class="round1-bottom">#12 seed</div>
				</div>
			</div>
		</div>
		<div class="round4-bottomwrap">
			<div class="round4-bottom">Bottom Winner</div>
			<div class="round3-topwrap">
				<div class="round3-top">2/7 winner</div>
				<div class="round2-topwrap">
					<div class="round2-top">2-15 winner</div>
					<div class="round1-top">#2 seed</div>
					<div class="round1-bottom">#15 seed</div>
				</div>
				<div class="round2-bottomwrap">
					<div class="round2-bottom">7-10 winner</div>
					<div class="round1-top">#7 seed</div>
					<div class="round1-bottom">#10 seed</div>
				</div>
			</div>
			<div class="round3-bottomwrap">
				<div class="round3-bottom">3/6 winner</div>
				<div class="round2-topwrap">
					<div class="round2-top">3-14 winner</div>
					<div class="round1-top">#3 seed</div>
					<div class="round1-bottom">#14 seed</div>
				</div>
				<div class="round2-bottomwrap">
					<div class="round2-bottom">6-11 winner</div>
					<div class="round1-top">#6 seed</div>
					<div class="round1-bottom">#11 seed</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
